
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');





*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration:none;
}
:root{
    --pink:#e79ea7;
    --green:#d7fecf;
    --blue:#90c6b9;
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth;
}

.container{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}


.video{
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    z-index:-100;
    right:0;
}

.header{
    width:100%;
    height:auto;
    padding:1rem;
    z-index:1000000;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}


.header h2{
    font-family: "Great Vibes", cursive;
    color:white;
    font-size:3rem;
    background-color: black;
    background: #E79EA7;
background: radial-gradient(circle farthest-corner at center center,  
#E79EA7 0%,
  #90C6B9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

span{
   
    background: #E79EA7;
background: radial-gradient(circle farthest-corner at center center,
 #E79EA7 50%, #90C6B9 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bolder;
}

.header a{
    color:white;
    font-size:1.8rem;
    padding-left:2rem;
    font-family: 'Oleo Script Swash Caps', system-ui;
    font-weight:lighter;
}

.logo{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.maintext{
    width: 95%;
    height:90vh;
    background:transparent;
    position: absolute;
    top:8%;
    margin:1rem auto;
    right:0;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.leftside{
    width: 35%;
    height:100%;
    background:transparent;
    display:flex;
    font-family: "Pacifico", cursive;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    padding: 1rem;
}
.first{
    width:100%;
    background-color: transparent;
    color:white;
    height:50%;
    font-size: 3.5rem;
    padding: 1rem;
    text-align: center;
}
.rightside{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    overflow:hidden;
}
.icons{
    padding-right: 2rem;
}
.rightside img{
    width:110%;
    height:110%;
}
.second{
    width:80%;
    height:10%;
    background: white;
    color:black;
    text-align: center;
    border-radius: 2rem;
    font-family: "Cormorant SC", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.1 rem;
}
button{
    width:60%;
    height:4rem;
    border-radius:2rem;
    background: black;
    color:var(--pink);
    border:2px solid white;
    font-family:"pacifico",cursive;
    font-size:2rem;
}
button:hover{
    word-spacing:0.5rem;
    font-size: 2.2rem;
    cursor:pointer;
    padding-left:1rem;
    transition: 1s;
}
.container2{
    width:100%;
    height:auto;
    background-color:black;

}
.heading{
    color:white;
    font-size:4rem;
    padding-top:4rem;
    text-align: center;
    font-family:"pacifico",cursive;
}


.underline{
    background: white;
    height:0.5rem;
    width:35%;
    position: relative;
    top:10%;
    border-radius: 2rem;
    left:33%;
}
.mens{
    width: 100%;
    height: auto;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.products{
    transition:0.5s;
    border-radius: 2rem;
    width:30rem;
    height:48rem;
    background:transparent;
    color:white;
    display: flex;
    margin:6rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 4rem;
}
.top{
    width:100%;
    height:60%;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: center;

}
.top img{
    width:100%;
    height:100%;
}

.bottom{
    width:100%;
    height: 45%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top:1rem;
}
.bottom h2{
    font-size: 3rem;
    text-align: center;
    color: white;
    
}
.bottom h3{
    font-size: 2.5rem;
    color: var(--green);
    
}
.products button{
    width:70%;
    margin-bottom:1rem;
    font-family:'Oleo Script Swash Caps' cursive;
    font-size: 2.8;
    height: 4.5rem;
    word-spacing: 0.5rem;
    background:black;
    color: var(--pink);
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.products.top.product3{
    width:50%;
    height:100%;
}
.products:hover{
    cursor:pointer;
    background:black;
    width:33rem;
    height:50rem;
    border:2px solid white;

}
.container3{
    width:100%;
    height:auto;
    background:white;
}

.container3 .heading{
    color:black;
}
.container3.underline{
    background:black;
}
.container3.bottom h2{
    color:black;
}
.container3.buttom h3{
    color:rgb(0,218,0);
}
.container3 .products:hover{
    cursor:pointer;
    background: black;
    color:2px solid black;
}
.container4{
    background:black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:auto;
    width:100%;
}
.container4.pro43{
    width:63%;
    padding-left:2rem;
    height:100%;
}
#head{
    color:black;
    text-decoration: underline;
}

.offers2{
    background:white;
    width: 85%;
    margin-top:rem;
    height:90rem;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.parts{
    width:50rem;
    margin:1rem;
    transition:1s;
    height:40rem;
    color:black;
    background:white;
    border:2px solid black;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.parts img{
    width:60%;
    height: 60%;
}
.parts h1{
    font-size:4rem;
    font-family:"Oleo Script Swash Caps",cursive;
}
.parts p{
    font-size: 1.8rem;
    font-family:"Cormorant SC",serif;
    font-weight: bolder;

}

#black{
    background: black;
    color:white;
    border:2px solid white;
}
.parts button{
    font-size:3rem;
    font-family:"Cormorant SC",serif;
    width:50%;
    word-spacing:1.2rem;
}
.parts:hover{
    width:53rem;
    height: 43rem;
    cursor: pointer;
}
.footer{
    width:100%;
    height:65vh;
background:black;
}

.upper{
    height:80%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.lower{
    width:100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color:white;
    border-top:4px solid white;
}
.images{
    width:100%;
    text-align: center;
    background: white;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.images img{
    width:15%;
    height:40%;
    margin:1rem;
}

#b{
   
    width:25%;
    height:100%;
    background:transparent;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin:2rem;
    font-size:2rem;
    margin-bottom: 3rem;
    padding:1rem;
}


.iconsfooter{
    width:100%;
    height:90%;
    background:transparent;
    color:white;
    display:flex ;
    align-items: flex-start;
    justify-content:space-evenly;
    flex-direction: column;
    
}

.input{
    width:95%;
    height:20%;
    border-radius: 2rem;
    border: 2px solid white;
    color:black;
    font-size: 2rem;
    padding: 2rem;
}
.footer h1{
    font-size: 3rem;
    background: black;
    background-color: black;
    background: #E79EA7;
background: radial-gradient(circle farthest-corner at center center,  
 #E79EA7 0%,
  #90C6B9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#b p{
    font-size: 1.9rem;
    line-height: 2.7rem;

}
.searchbar{
    width:30rem;
    height:5rem;
    background:black;
    color:pink;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 1s;
    border: 2px solid white;
    padding:1rem;
    top:10%;
    right:-95%;
    z-index: 10000;
}
.searchbar.active{
right:5%;
}
.searchbar h1{
    font-size:2.5rem;
    padding:2rem;
}
.favourite{
    width:25rem;
    height:15rem;
    background: blue;
    color: pink;
    font-size: 1rem;
    line-height: 4rem;
    z-index: 100000;
    border:2px solid white;
    display: flex;
    transition: 1s;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:10%;
    right:-95%;
    border-radius: 2rem;
    padding:2rem;
    text-align: center;
}
.favourite.active{
    right:5%;
}
.checkout{
    width:40rem;
    height:40rem;
    background: black;
    border: 2px solid white;
    border-radius: 2rem;
    position: fixed;
    transition: 1s;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    top:10%;
    right:-95%;
}
.checkbox{
    width:90%;
    height:20%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    color: white;
    border:2px solid white;
    padding:1rem;

}
.checkbox h2{
    text-align: center;
    width: 48%;
    font-size: 2rem;
    padding:1rem;

}
.checkbox p{
   
    font-size: 1.8rem;
}
.checkbox img{
    width:15%;
    height:100%;
}
.checkout.active{
    right:5%;
}
 .login{
    width:30rem;
    height:30rem;
    background: black;
    color: white;
    border-radius: 2rem;
    border:2px solid white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top:10%;
    right:-95%;
    transition: 1s;
    z-index: 100000;

}
.login.active{
    right:5%;
}

#username{
    width:90%;
    height:20%;
    background: black;
    color:white;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 2rem;
}

#password{
    width:90%;
    height:20%;
    background: black;
    color:white;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 2rem;
}
.login a{
    font-size: 1.5rem;
    color:white;
    word-spacing: 0.7rem;
}




@media(min-aspect-ratio:16/9){
    .video{
        width:100%;
        height:auto;

    }
}

@media(max-aspect-ratio: 16/9){
    .video{
        width:auto;
        height: 100%;

    }
}


  